.home-title {
    padding: 25px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.footer {
    display: flex;
    padding: 25px;
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top {
    display: flex;
    padding: 25px;
    margin: 0;
    position: fixed;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 2px;
}

.title {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: xx-large;
    letter-spacing: 3px;
    color: blue;
    padding: 10px;
    padding-bottom: 0px;
    margin: 5px;
    margin-bottom: 0px;
    justify-self: center;
}

.subtitle {
    font-size: large;
    font-style: italic;
    align-self: center;
    letter-spacing: 2px;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 10px;
    margin: 10px;
    margin-top: 0px;
}

.foot-title {
    font-size: larger;
    margin: 25px;
}

.projects {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 25px;
    margin-top: 50px;
    position: fixed;
    align-self: center;
    align-items: center;
    justify-items: center;
    justify-self: center;
}