.header {
  position: fixed;
  top: calc(50% - 50vh + 70px);
  left: calc(50% - 40vw + 0px);
  width: 175px;
  padding: 20px;
  z-index: 999;
}

ul {
  list-style-type: none;
  padding: 5px;
}

li {
  font-size: larger;
  margin-bottom: 10px; /* Add margin between list items */
  padding-left: 10px;
  color: blue; /* Set text color for list items */
  cursor: pointer; /* Add pointer cursor for better UX */
  text-align: left; /* Align text within list items to the left */
}

li:hover::before {
  content: '❯'; /* Unicode character for chevron */
  color: white; /* Color of the chevron */
  margin-right: 5px; /* Add margin between chevron and text */
}

li:hover {
  background-color: blue; /* Change background color on hover */
  color: white;
  border-radius: 0px;
}
