.header {
  position: sticky;
  /*top: calc(50% - 50vh + 70px);
  left: calc(50% - 40vw + 0px);*/
  top: 0;
  left: 0;
  width: 175px;
  padding: 20px;
  z-index: 999;
}

ul {
  list-style-type: none;
  padding: 5px;
}

li {
  font-size: larger;
  margin-bottom: 10px;
  padding-left: 10px;
  color: blue;
  cursor: pointer;
  text-align: left;
}

li:hover::before {
  content: '❯';
  color: white;
  margin-right: 5px;
}

li:hover {
  background-color: blue;
  color: white;
  border-radius: 0px;
}