.landing {
    display: flex;
    transform: translate(-50%, -50%);
    flex-direction: column;
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    align-items: center;
}

.welcome {
    color: blue;
    font-size: x-large;
    white-space: nowrap;
    overflow: hidden;
    border-right: 8px solid blue;
    margin: 0;
    padding: 0;
    animation: typing calc(0.15s * var(--length)) steps(var(--length), end) forwards;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}