@import url("https://fonts.googleapis.com/css2?family=Poppins");

body {
    background-color: blue;
    color: blue;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('./assets/beach.JPG');
    background-size: cover;
    background-position: center;
}

.fake-window::-webkit-scrollbar {
    display: none;
}

.fake-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: white;
    border: 3px solid blue;
    border-radius: 0px;
    display: flex;
    overflow: auto;
}

.container {
    display: flex;
    transform: translate(-50%, -50%);
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    text-align: center;
}

.content {
    display: flex;
    transform: translate(-50%, -50%);
    flex-direction: column;
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    align-items: center;
    text-align: center;
}

.no-underline {
    text-decoration: none;
    color: inherit;
}

.photo {
    width: 80%;
    padding: 10px;
}

.pdf {
    display: flex;
    transform: translate(-50%, -50%);
    flex-direction: column;
    position: absolute;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;
}