@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import "tailwindcss";

:root,
html,
body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    background-image: url("./assets/beach.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}
