@import url("https://fonts.googleapis.com/css2?family=Poppins");

body {
  background-color: blue;
  color: blue;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('./assets/beach.JPG');
  background-size: cover;
  background-position: center;
}

.fake-window::-webkit-scrollbar {
  display: none;
}

.fake-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: white;
  border: 3px solid blue;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.container {
  width: 60%;
  text-align: center;
  top: 50%;
  left: 50%;
  padding: 25px;
}

.projects_container {
  width: 60%;
  text-align: center;
  position: absolute;
  top: calc(10% + 700px);
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
}

.no-underline {
  text-decoration: none;
  color: inherit;
}

.photo {
  width: 80%;
  padding: 20px;
}